<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style></style>
    <link th:href="@{styles/css/animate.min.css}" rel="stylesheet" />
    <link th:href="@{styles/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Wuzzuf App</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{styles/css/scrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{styles/css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{styles/css/responsive.css}">
    <link rel="icon" href="Wuzzuf/body_bg"  />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{styles/css/jquery.mCustomScrollbar.min.css}">

</head>
<!-- body -->
<body class="main-layout">

<!-- header -->
<header>
    <!-- header inner -->
    <div  class="head_top">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="Wuzzuf/logo" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
        <!-- end header -->
        <!-- banner -->
        <section class="banner_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="text-img">
                            <figure><img src="Wuzzuf/box" alt="#"/></figure>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-bg">
                            <h1>Make Your Choice</h1>
                            <div>
                                <a style="font-size: 20px"href="Wuzzuf/ReadCSV">Read CSV                     </a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div >
                                <a style="font-size: 20px"href="Wuzzuf/JobsByCompany">Jobs Per Company                       </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsByLocations">Jobs By Locations                     </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsBySkills">Jobs By Skills                           </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsByTitle">Jobs By Title                           </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsByYears">Jobs By Years                          </a>

                            </div>
                            <br>
                            <br>
                            <br>
                            <div>
                                <a style="font-size: 20px"href="Wuzzuf/JobsPerCompanyImg">Visualize Jobs Per company            </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsPerLocationImg">Visualize Jobs Per Location           </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsPerSkillsImg">Visualize Jobs Per Skills                  </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsPerTitleImg">Visualize Jobs Per Title                       </a>
                                <a style="font-size: 20px"href="Wuzzuf/JobsPerYearsofExperienceImg">Visualize Jobs Per Years of Experience</a>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</header>
<script th:src="@{styles/js/jquery.min.js}"></script>
<script th:src="@{styles/js/popper.min.js}"></script>
<script th:src="@{styles/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{styles/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{styles/js/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{styles/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{styles/js/custom.js}"></script>
<script th:src="@{https:cons.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js}"></script>
</body>
</html>

